    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    * {
        font-family: 'poppins', 'sans-serif';
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }
    
    header {
        background-color: #f0f0f0;
        width: 100%;
        position: fixed;
        z-index: 999;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 200px;
    }
    
    a.logo {
        text-decoration: none;
        text-transform: uppercase;
        color: #3a6cf4;
        font-weight: 700;
        font-size: 1.8em;
    }
    
    .navigation a {
        text-decoration: none;
        color: #3a6cf4;
        padding-left: 30px;
        transition: 0.3s;
        font-size: 1.1em;
        font-weight: 500;
    }
    
    .navigation a:hover {
        color: cyan;
    }
    
    section {
        padding: 100px 200px;
    }
    
    .main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        background-image: url(./images/background.png);
        background-size: cover;
        background-position: center;
        position: relative;
    }
    
    .image img {
        width: 600px;
        position: absolute;
        top: 115px;
        left: 50%;
    }
    
    .main h2 {
        color: white;
        font-size: 1.4em;
        font-weight: 500;
    }
    
    .main h2 span {
        display: inline-block;
        margin-top: 5px;
        color: white;
        font-size: 1.9em;
        font-weight: 600;
    }
    
    .main h3 {
        color: white;
        font-size: 2em;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 5px;
        margin-bottom: 30px;
    }
    
    .main .main-button {
        text-decoration: none;
        background-color: black;
        color: white;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
        padding: 0.9375em 2.1875em;
        letter-spacing: 1px;
        border-radius: 1rem;
        margin-bottom: 40px;
        transition: 0.3s ease;
    }
    
    .main-button:hover {
        transform: scale(1.1);
    }
    
    .social-icons a {
        color: #f0f0f0;
        font-size: 1.7em;
        padding-right: 30px;
        transition: 0.3s ease;
    }
    
    .social-icons a:hover {
        transform: scale(1.1);
    }
    
    .cards {
        text-align: center;
    }
    
    .cards h2 {
        font-weight: 600;
        font-size: 40px;
        position: relative;
        margin-bottom: 70px;
        text-transform: uppercase;
        color: #3a6cf4;
    }
    
    .cards h2::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        background-color: #333;
        bottom: -30px;
        width: 120px;
    }
    
    .cards h2::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid #333;
        bottom: -38px;
        background-color: white;
    }
    
    .content {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .card {
        background-color: #fff;
        width: 21.25em;
        box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
        border-radius: 10px;
        padding: 25px;
        margin: 15px;
        transition: 0.3s;
    }
    
    .card:hover {
        transform: scale(1.1);
    }
    
    .icon {
        color: #3a6cf4;
        font-size: 3em;
        text-align: center;
    }
    
    .info {
        text-align: center;
    }
    
    .info h3 {
        color: #3a6cf4;
        font-size: 1.2em;
        font-weight: 700;
        margin: 10px;
    }
    
    .projects {
        text-align: center;
    }
    
    .projects h2 {
        font-weight: 600;
        font-size: 40px;
        position: relative;
        margin-bottom: 70px;
        text-transform: uppercase;
        color: #3a6cf4;
    }
    
    .projects h2::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        background-color: #333;
        bottom: -30px;
        width: 120px;
    }
    
    .projects h2::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid #333;
        bottom: -38px;
        background-color: white;
    }
    
    .projects .content {
        margin-top: 30px;
        display: flex;
        flex-wrap: wrap;
    }
    
    .pro-card {
        background-color: #75b3e7;
        border: 1px solid white;
        min-height: 14em;
        width: 14em;
        overflow: hidden;
        border-radius: 10px;
        margin: 20px;
        transition: 0.3s ease;
    }
    
    .pro-card:hover {
        transform: scale(1.1);
    }
    
    .pro-images img {
        width: 100%;
    }
    
    .pro-info {
        padding: 1em;
    }
    
    .pro-categorey {
        font-size: 20px;
        color: white;
        font-weight: 600;
    }
    
    .cards-contact {
        text-align: center;
    }
    
    .cards-contact h2 {
        font-weight: 600;
        font-size: 40px;
        position: relative;
        margin-bottom: 70px;
        text-transform: uppercase;
        color: #3a6cf4;
    }
    
    .cards-contact h2::before {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        background-color: #333;
        bottom: -30px;
        width: 120px;
    }
    
    .cards-contact h2::after {
        content: "";
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 2px solid #333;
        bottom: -38px;
        background-color: white;
    }
    
    .cards-contact .info a {
        text-decoration: none;
        font-weight: 500;
        font-size: 10px;
        padding: 10px 20px;
        background-color: #3a6cf4;
        color: white;
        border-radius: 10px;
        transition: 0.3s ease;
    }
    
    .cards-contact .info a:hover {
        background-color: blue;
    }
    
    footer {
        background-color: #0258ff;
        color: white;
        padding: 1.5em;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-title {
        font-size: 1.3em;
        font-weight: 600;
    }
    
    footer span {
        color: aqua;
    }
    
    @media (max-width:1023px) {
        header {
            padding: 12px 20px;
        }
        .navigation a {
            padding-left: 10px;
        }
        .title {
            font-size: 1.8em;
        }
        section {
            padding: 80px 20px;
        }
        .main {
            z-index: 1;
        }
        .main h2 {
            font-size: 1em;
        }
        .main h3 {
            font-size: 1.6em;
        }
        .main .image img {
            width: 300px;
            position: absolute;
            top: 340px;
            left: 90px;
            z-index: -2;
        }
        .main .social-icons i {
            color: black;
        }
        .content {
            flex-direction: column;
            align-items: center;
        }
        .cards-contact h2 {
            font-size: 30px;
        }
        footer .social-icons {
            display: flex;
            margin: 0px -18px;
        }
        footer .foot-title {
            font-size: 10px;
            margin: 0px -10px
        }
        .cards-contact .icon {
            margin-bottom: 20px;
            font-size: 4em;
        }
    }
    
    @media (max-width:641px) {
        body {
            font-size: 12px;
        }
        .main h2 {
            font-size: 0.8em;
        }
        .main h3 {
            font-size: 1.4em;
        }
        @media (max-width:300px) {
            body {
                font-size: 10px;
            }
        }
    }